body {
  background-color: beige;
}

p {
  font-size: 24px;
}

input,
button {
  padding: 5px;
}

input {
  width: 150px;
}

#box {
  margin-top: 30px;
  position: relative;
}

.square {
  width: 48px;
  height: 48px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  overflow: hidden;
  position: absolute;
}
